# Pandas Part-1

In [5]:
import pandas as pd

# 1.Create

**1.1 Create from a CSV**

In [6]:
df=pd.read_csv("data.csv")
df

        Day  Temaprature  Windspeed  Event
0  1/1/2024           35          3  Rainy
1  1/2/2024           36          6  Sunny
2  1/3/2024           37          9  Rainy
3  1/4/2024           35          7  Rainy
4  1/5/2024           33          8  Sunny
5  1/6/2024           34          9  Rainy

**1.2 Create from Excel**

In [8]:
df=pd.read_excel("data.xlsx","Sheet1")
df

         Day  Temaprature  Windspeed  Event
0 2024-01-01           35          3  Rainy
1 2024-01-02           36          6  Sunny
2 2024-01-03           37          9  Rainy
3 2024-01-04           35          7  Rainy
4 2024-01-05           33          8  Sunny
5 2024-01-06           34          9  Rainy

# 2.Read

**2.1 Show Top 5 and Bottom 5 rows**

In [13]:
#Top 5 rows.if you want 10 rows then the syntax will be df.head(10)
df.head()

         Day  Temaprature  Windspeed  Event
0 2024-01-01           35          3  Rainy
1 2024-01-02           36          6  Sunny
2 2024-01-03           37          9  Rainy
3 2024-01-04           35          7  Rainy
4 2024-01-05           33          8  Sunny

In [11]:
#Bottom 5 rows.if you want 10 rows then the syntax will be df.tail(10)
df.tail()

         Day  Temaprature  Windspeed  Event
1 2024-01-02           36          6  Sunny
2 2024-01-03           37          9  Rainy
3 2024-01-04           35          7  Rainy
4 2024-01-05           33          8  Sunny
5 2024-01-06           34          9  Rainy

**2.2 Show Columns and Data Types**

In [17]:
#To Show all Columns
df.columns

Index(['Day', 'Temaprature', 'Windspeed', 'Event'], dtype='object')

In [23]:
#To Show Data Type
df.dtypes

Day            datetime64[ns]
Temaprature             int64
Windspeed               int64
Event                  object
dtype: object

**2.3 Summary Statatics**

In [29]:
df.describe()

                       Day  Temaprature  Windspeed
count                    6     6.000000   6.000000
mean   2024-01-03 12:00:00    35.000000   7.000000
min    2024-01-01 00:00:00    33.000000   3.000000
25%    2024-01-02 06:00:00    34.250000   6.250000
50%    2024-01-03 12:00:00    35.000000   7.500000
75%    2024-01-04 18:00:00    35.750000   8.750000
max    2024-01-06 00:00:00    37.000000   9.000000
std                    NaN     1.414214   2.280351

**2.4 Filtering  Columns**

In [31]:
#To show one column
df.Day

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
Name: Day, dtype: datetime64[ns]

In [51]:
#To Show one Column
df["Windspeed"]

0    3
1    6
2    9
3    7
4    8
5    9
Name: Windspeed, dtype: int64

In [36]:
#To show two columns
df[["Day","Windspeed"]]

         Day  Windspeed
0 2024-01-01          3
1 2024-01-02          6
2 2024-01-03          9
3 2024-01-04          7
4 2024-01-05          8
5 2024-01-06          9

**2.5 Filtering on Rows**

In [37]:
df.head()

         Day  Temaprature  Windspeed  Event
0 2024-01-01           35          3  Rainy
1 2024-01-02           36          6  Sunny
2 2024-01-03           37          9  Rainy
3 2024-01-04           35          7  Rainy
4 2024-01-05           33          8  Sunny

In [46]:
#To show Temaprature which values are 35
df[df["Temaprature"]==35]

         Day  Temaprature  Windspeed  Event
0 2024-01-01           35          3  Rainy
3 2024-01-04           35          7  Rainy

In [44]:
#To show Temaprature which values are 35 and Windspeed 7.
df[(df["Temaprature"]==35) & (df["Windspeed"]==7)]

         Day  Temaprature  Windspeed  Event
3 2024-01-04           35          7  Rainy

**2.6 Indexing with iloc**

In [50]:
df.iloc[3]

Day            2024-01-04 00:00:00
Temaprature                     35
Windspeed                        7
Event                        Rainy
Name: 3, dtype: object

In [52]:
df.iloc[2,3]

'Rainy'